# Node modules
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/

# Env files
.env
**/.env

# VSCode settings
.vscode/
**/.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS junk
.DS_Store
Thumbs.db
